# Port number
PORT=3000
NODE_ENV=

# URL of the Mongo DB
MONGODB_URL=
BASE_NAME=/api/v1
# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
